<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registor</title>
    <link rel="stylesheet" href="css/car.css">
</head>
<body>
    <header>Car create</header>

    <form action="/car-create" method="post">
        <input type="text" placeholder="Car name" required name="car"><br>
        <input type="number" placeholder="Price $" required name="price"><br>
        <input type="number" placeholder="year" required name="year"><br>
        <input type="submit" value="submit">
    </form>
</body>
</html>