<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login page</title>
    <link rel="stylesheet" href="css/login.css">
</head>
<body>
    <header>Login</header>

    <form action="/login" method="post">
        <input id="userIn" type="text" placeholder="Username" required name="login_username"><br>
        <input id="passIn" type="password" placeholder="Password" required name="login_password">
        <input type="submit" value="submit">
        <a style="padding-left: 40px;" href="./registor">please sign-up</a>
    </form>
</body>
</html>
