<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registor</title>
    <link rel="stylesheet" href="css/registor.css">
</head>
<body>
    <header>Registor</header>

    <form action="/registor" method="post">
        <input type="email" placeholder="Email" required name="email">
        <input type="text" placeholder="Username" required name="username"><br>
        <input type="password" placeholder="Password" required name="password">
        <input type="password" placeholder="consfrim Password" required name="confrim_password">
        <input type="submit" value="submit">
    </form>
</body>
</html>